WCFAutokauppaApp/WCFAutokauppaApp/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutokauppaWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutokauppaWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutonMalliID1" type="xs:int" />
      <xs:element minOccurs="0" name="AutonMerkkiID1" type="xs:int" />
      <xs:element minOccurs="0" name="Hinta1" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID1" type="xs:int" />
      <xs:element minOccurs="0" name="Mittarilukema1" type="xs:int" />
      <xs:element minOccurs="0" name="Moottorin_tilavuus1" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolttoaineID1" type="xs:int" />
      <xs:element minOccurs="0" name="Rekisteri_paivamaara1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VaritID1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="ArrayOfAutonMerkki">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutonMerkki" nillable="true" type="tns:AutonMerkki" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutonMerkki" nillable="true" type="tns:ArrayOfAutonMerkki" />
  <xs:complexType name="AutonMerkki">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID1" type="xs:int" />
      <xs:element minOccurs="0" name="Merkki1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutonMerkki" nillable="true" type="tns:AutonMerkki" />
  <xs:complexType name="ArrayOfAutonMalli">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutonMalli" nillable="true" type="tns:AutonMalli" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutonMalli" nillable="true" type="tns:ArrayOfAutonMalli" />
  <xs:complexType name="AutonMalli">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutonMerkkiID1" type="xs:int" />
      <xs:element minOccurs="0" name="Auton_mallin_nimi1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutonMalli" nillable="true" type="tns:AutonMalli" />
  <xs:complexType name="ArrayOfPolttoaineet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Polttoaineet" nillable="true" type="tns:Polttoaineet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolttoaineet" nillable="true" type="tns:ArrayOfPolttoaineet" />
  <xs:complexType name="Polttoaineet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID1" type="xs:int" />
      <xs:element minOccurs="0" name="Polttoaineen_nimi1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Polttoaineet" nillable="true" type="tns:Polttoaineet" />
  <xs:complexType name="ArrayOfVarit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Varit" nillable="true" type="tns:Varit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVarit" nillable="true" type="tns:ArrayOfVarit" />
  <xs:complexType name="Varit">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID1" type="xs:int" />
      <xs:element minOccurs="0" name="Varin_nimi1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Varit" nillable="true" type="tns:Varit" />
</xs:schema>